<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Website</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
</head>
<body>
    <header>
        <h1>Header</h1>
        <p>Paragraph in HTML layout header</p>
    </header>

    <nav>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Services</a>
        <a href="#">Contact</a>
    </nav>

    <div class="container">
        <div class="content">
            <h2>Main Content</h2><br>
            <p>Paragraph in main. Lorem ipsum dolor sit amet.Lorem ipsum dolor sit amet</p>
        </div>

        <div class="sidebar">
            <h3>Sidebar</h3>
            <ul>
                <li>List 1</li>
                <li>List 2</li>
                <li>List 3</li>
            </ul>
        </div>
    </div>
    <footer>
        <h4>Footer</h4>
        <p>&copy; Paragraph in HTML layout footer</p>
    </footer>
</body>
</html>